html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
#app {
  background: #117d00;
}
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.jus {
  justify-content: space-between;
}
.flexcol {
  flex-direction: column;
}
a {
  text-decoration: none;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
.textc {
  text-align: center;
}
.flexw {
  flex-wrap: wrap;
}
h2 {
  font-family: "Neue Haas Grotesk", Icons;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
}
h1 {
  font-family: "Neue Haas Grotesk", Icons;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 2.7rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.85);
}
.box-s {
  box-sizing: border-box;
}
.an {
  cursor: pointer;
}
@media (max-width: 1250px) {
  html {
    font-size: 10.24px;
  }
}
